@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------------------- */
/*  Theme
/* -------------------------------------------- */

@layer base {
  .light {
    /* Solid */
    --background: 0 0% 100%;
    --secondary: 0 0% 98%;
    --elements: 0 0% 96%;
    --scroll-thumb: 0 0% 96%;
    --border: 0 0% 93%;

    /* Text */
    --foreground: 0 0% 7%;
    --muted-foreground: 0 0% 37%;
    --placeholder: 0 0% 51%;

    /* Primarys */
    --primary: 8 95% 55%;
    --primary-hover: 8 96% 62%;
    --primary-border: 8 95% 65%;
    --primary-foreground: 0 0% 93%;

    /* Secondarys */
    --danger: 352 78% 49%;
    --danger-hover: 352 77% 62%;
    --danger-border: 352 75% 65%;
    --danger-foreground: 352 0% 93%;
  }

  :root {
    /* Solid */
    --background: 0 0% 7%;
    --secondary: 0 0% 9%;
    --elements: 0 0% 12%;
    --scroll-thumb: 0 0% 12%;
    --border: 0 0% 17%;

    /* Text */
    --foreground: 0 0% 93%;
    --muted-foreground: 0 0% 63%;
    --placeholder: 0 0% 49%;

    /* Primarys */
    --primary: 9 90% 45%;
    --primary-hover: 9 90% 38%;
    --primary-border: 9 90% 62%;
    --primary-foreground: 9 20% 93%;

    /* Secondarys */
    --danger: 350 74% 45%;
    --danger-hover: 350 74% 38%;
    --danger-border: 350 74% 62%;
    --danger-foreground: 350 20% 98%;

    --success: 148 74% 38%;
    --success-hover: 148 74% 32%;
    --success-border: 148 74% 62%;
    --success-foreground: 148 20% 98%;
  }

  * {
    @apply border-border selection:bg-primary selection:text-foreground antialiased;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  p {
    @apply text-sm text-muted-foreground;
  }

  button {
    @apply cursor-default;
  }
}

/* -------------------------------------------- */
/*  Animations
/* -------------------------------------------- */

@keyframes overlay-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes content-show {
  0% {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes overlay-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes content-hide {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
}

@keyframes dropdown-hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.94);
  }
}

@keyframes selection-show {
  0% {
    opacity: 0;
    transform: translateY(-2px);
  }
  1000% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes selection-hide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-2px);
  }
}

@keyframes slide-down-fade {
  from {
    opacity: 0;
    scale: 0.94;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left-fade {
  from {
    opacity: 0;
    scale: 0.94;
    transform: translateX(-16px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
  }
}

@keyframes slide-up-fade {
  from {
    opacity: 0;
    scale: 0.94;
    transform: translateY(-16px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}

@keyframes slide-right-fade {
  from {
    opacity: 0;
    scale: 0.94;
    transform: translateX(16px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
  }
}

@keyframes slide-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slide-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
