@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Solid */
    --background: 0 0% 7%;
    --secondary: 0 0% 9%;
    --elements: 0 0% 12%;
    --border: 0 0% 17%;

    /* Text */
    --foreground: 0 0% 93%;
    --muted-foreground: 0 0% 63%;
    --placeholder: 0 0% 49%;

    /* Primarys */
    --primary: 8 80% 55%;
    --primary-hover: 8 80% 48%;
    --primary-border: 8 100% 63%;
    --primary-foreground: 0 0% 93%;

    /* Secondarys */
    --warning: 45 100% 50%;
    --warning-hover: 45 100% 60%;
    --warning-border: 45 100% 60%;

    --danger: 0, 84%, 60%;
    --danger-hover: 0, 74%, 42%;
    --danger-border: 0, 84%, 60%;

    --success: 142, 71%, 45%;
    --success-hover: 142, 72%, 29%;
    --success-border: 142, 71%, 45%;
  }
}

@layer base {
  * {
    @apply border-border selection:bg-primary selection:text-foreground antialiased;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  p {
    @apply text-sm text-muted-foreground;
  }

  button {
    @apply cursor-default;
  }

  a {
    @apply cursor-pointer;
  }

  button:focus,
  a:focus {
    @apply outline-none ring-2 ring-primary ring-offset-2 ring-offset-background transition-shadow duration-100;
  }

  button:active:not(:focus-visible),
  a:active:not(:focus-visible),
  button:focus:not(:focus-visible),
  a:focus:not(:focus-visible) {
    @apply outline-none ring-0 ring-offset-0;
  }
}
